<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>PC STORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css"  >
    <link rel="stylesheet" type="text/css" href="/css/fonts/style.css"  >
     
</head>
<body>
  
<nav class="navbar navbar-expand-md">

  <div class="collapse-fluid navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" style = "font-family:courier,arial,helvética;"  href="#"> <span class="icon-task"> Acerca de </span> </a>
      </li>
		
      <li class="nav-item">
         <a class="nav-link" href="#" style = "font-family:courier,arial,helvética;"> <span class="icon-grid-alt">Ver catalogo</span>  </a>
      </li>
      
      
      <li class="nav-item">
         <a class="nav-link" href="#" style = "font-family:courier,arial,helvética;"> <span class="icon-home">  Inicio </span> </a>
      </li>
  
  	  <div sec:authorize="isAuthenticated()">
      	<li class="nav-item">
       		<a class="nav-link" href="/PcStore/add_producto"  style = "font-family:courier,arial,helvética;" ><span class="icon-out"> Subir producto</span></a>
      	</li>
      </div>
    <div sec:authorize="isAuthenticated()"> 
      <li class="nav-item">
        <a class="nav-link" href="PcStore/list"   style = "font-family:courier,arial,helvética;" > <span class="icon-list"> Lista de productos</span> </a>
      </li>
    </div>     
      <div sec:authorize="isAuthenticated()">
       <li class="nav-item">
        <a class="nav-link" href="/PcStore/list_tecnicos"  style = "font-family:courier,arial,helvética;"><span class="icon-clipboard">Lista de tecnicos</span></a>
       </li> 
      </div> 
 
 
     
    <div sec:authorize="isAuthenticated()">
       <li class="nav-item">
        <a class="nav-link" href="/PcStore/logout" style = "font-family:courier,arial,helvética;"> <span class="icon-in-alt">Cerrar sesión</span></a>
       </li>    
    </div>
    
    </ul>
  </div>
</nav>



  
<div class="container-xl">

<div class = "row">
  <div class="presentacion col-xs-2 col-md-10" >
	      <p>   <h1>  PC STORE </h1> </p>
	      <p> <h1>  Tu tienda onlie! </h1></p>
  </div>
 
  <div class="col-xs-2 col-md-2" sec:authorize= ${#bools.setIsFalse(isAuthenticated())}>
   <form   th:action="@{/PcStore}" method="post" > <!--Este e el contenedor del Login   -->
     <div class="row">
     
                <div class="form-group col-md-12">                     
            	<label for="usuario" class="col-form-label"> Usuario </label>
            	<input type="text" name="username" class="form-control" placeholder="Nombre de usuario"/> 
                </div>
               
                <div class="form-group col-md-12">
             	<label for="contraseña" class="col-form-label"> Contraseña  </label>
            	<input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña"/>
                </div>
                
                <div class="form-group col-md-12">
       	        <input type="submit" value="Ingresar" class="btn btn-primary"/>
       	        </div>
      </div>
   </form> <!--Fin del contenedor del login -->
 </div> 
 
</div>

<div>
<p>


</p>
</div>



	   
<div class ="row">
   	<div class="Producto col-xs-10 col-md-10"> <!--Este div contiene el cuadro de login y los otros  -->
    <div class="row">  <!--Este div contiene solo los otros cuadritos  -->
 			<div class= "cuadritoServicio col-xs-3 col-md-3"> <!--Este es un cuadrito como tal  -->
 				<p>
 				  SERVICIO TECNICO <br>
 				  En esta tienda te
 		 		  podremos atender
 				  con servicio 
 		 		  tecnico profesional
 		 		  y garantizado
 			   </p>
 		    </div>  
 	
 		    <div class= "cuadritoCompra col-xs-3 col-md-3">
 				<p>
 				  ADQUIERE TU COMPUTADOR <br>
 				  Tendras una amplia
 				  gama de computadoras
 				  en nuestro catalogo
 			   </p>
 		   </div>  
 	
 	       <div class= "cuadritoCarrito col-xs-3 col-md-3">
 				<p>
 				  ANIADE PRODUCTOS AL <br>
 			          CARRITO <br>
 		          Podras realizar tus
 		          compras aniadiendo
 		          productos a tu 
 		          carrito de compras
 		
 		       </p>
 	      </div>  
 	
 	      <div class= "cuadritoRepuesto col-xs-3 col-md-3">
 	          <p>
 				TODO LO QUE NESCESITAS <br>
 	  		    Aqui podras encontrar
 	  		    todos los repuestos
 	  		    que nescesitas para
 	  		    tu computadora, celular
 	   		    o cualquier aparato
 	   		    electronico.
 			 </p>
 		
 	     </div>  <!-- Fin de un cuadrito -->
 	
    </div> <!--Fin del div de la fila que contiene a los cuadritos-->
    
  </div>    <!--Fin de la columa que contiene a los cudaritos  -->
 
 </div>  <!-- Fin del div que contiene el login y los cuadritos -->    
 



</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
</body>
</html>