<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PC Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
<nav class="navbar navbar-expand-md">
  

  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/PcStore/">Inicio</a>
      </li>
  
      <div sec:authorize="isAuthenticated()">
      	<li class="nav-item">
       		<a class="nav-link" href="/PcStore/User/add_tech">Subir tecnico</a>
      	</li>
      </div>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Lista de clientes</a>
      </li>
        
      <div sec:authorize="isAuthenticated()">
       <li class="nav-item">
        <a class="nav-link" href="/PcStore/list_tecnicos">Lista de tecnicos</a>
       </li> 
      </div>
        
          
       <div sec:authorize="isAuthenticated()">
       <li class="nav-item">
        <a class="nav-link" href="/PcStore/logout">Cerrar sesión</a>
       </li>    
    </div>
      
    </ul>
  </div>
</nav>


<header class="page-header header container-fluid">
<div class="overlay">

    <div class="container my-2">
        <div class="card-transparent">
            <div class="card-body rounded" style="background-color: rgba(0, 0, 0, 0.4); ">
                <div th:switch="${tecnico}" class="container my-5">
                        <h2 th:case="null">No Hay tecnicos aun!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th style="width: 51%">Nombre</th>
                                        <!--  <th>Preparación</th> -->
                                        <th style="width: 15%">Dificultad</th>
                                        <th style="width: 10%">Imagen</th>
                                        <th style="width: 8%">Ver</th>
                                        <div sec:authorize="isAuthenticated()">
                                           <th style="width: 8%">Edit</th>
                                           <th style="width: 8%">Delete</th>
                                        </div>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="tech : ${tecnico}">
                                        <td th:text="${tech.id}"></td>
                                        <td th:text="${tech.nombre}"></td>
                                    <!--   <td><img th:src="@{/pic/{id}(id=${receta.foto}+.jpg)}" width="80" class="rounded"></td> -->
                                        
                                     
    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>