<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PC Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts/style.css">

</head>

<body>

<nav class="navbar navbar-expand-md">

  <div class="collapse-fluid navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" style = "font-family:courier,arial,helvética;"  href="#"> <span class="icon-task"> Acerca de </span> </a>
      </li>
		
		
      <li class="nav-item">
         <a class="nav-link" href="#" style = "font-family:courier,arial,helvética;"> <span class="icon-grid-alt">Ver catalogo</span>  </a>
      </li>
      
      
     <li class="nav-item">
         <a class="nav-link" href="#" style = "font-family:courier,arial,helvética;"> <span class="icon-home">  Inicio </span> </a>
      </li>
  
  	  <div sec:authorize="isAuthenticated()">
      	<li class="nav-item">
       		<a class="nav-link" href="/PcStore/add_producto"  style = "font-family:courier,arial,helvética;" ><span class="icon-out"> Subir producto</span></a>
      	</li>
      </div>
      
      <div sec:authorize="isAuthenticated()">
       <li class="nav-item">
        <a class="nav-link" href="/PcStore/list_tecnicos"  style = "font-family:courier,arial,helvética;"><span class="icon-clipboard">Lista de tecnicos</span></a>
       </li> 
      </div> 
 
 
     
    <div sec:authorize="isAuthenticated()">
       <li class="nav-item">
        <a class="nav-link" href="/PcStore/logout" style = "font-family:courier,arial,helvética;"> <span class="icon-in-alt">Cerrar sesión</span></a>
       </li>    
    </div>
    
    </ul>
  </div>
</nav>


<header class="page-header header container-fluid">
<div class="overlay">

    <div class="container my-2">
        <div class="card-transparent">
            <div class="card-body rounded" style="background-color: rgba(0, 0, 0, 0.4); ">
                <div th:switch="${product}" class="container my-5">
                        <h2 th:case="null">No Hay productos aun!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th style="width: 51%">Nro</th>
                                        <th style="width: 51%">Nombre</th>
                                        <!--  <th>Preparación</th> -->
                                        <th style="width: 15%">Precio Unitario</th>
                                        <th style="width: 10%">Precio venta</th>
                                        <th style="width: 8%">descripcion</th>
                                        <th style="width: 8%">tipo</th>
                                         
                                        <!--   
                                        <div sec:authorize="isAuthenticated()">
                                           <th style="width: 8%">Edit</th>
                                           <th style="width: 8%">Delete</th>
                                        </div>
                                        -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="producto: ${product}">
                                        <td th:text="${producto.id}"></td>
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.precioUnitario}"></td>
                                        <td th:text="${producto.precioVenta}"></td>
                                        <td th:text="${producto.descripcion}"></td>
                                        <td th:text="${producto.tipo}"></td>
                                        
                                        
                                    <!--   <td><img th:src="@{/pic/{id}(id=${receta.foto}+.jpg)}" width="80" class="rounded"></td> 
                                        
                                        <td>
                                         <a data-toggle="modal" data-target="#modalLong" th:attr="data-target='#modalLong'+${producto.id }" class="btn btn-primary">
                                            <i class="fas fa-glasses ml-2"></i></a>
                                         <div class="modal fade" th:id="modalLong+${producto.id}" tabindex="-1" role="dialog" aria-labelledby="Descripcion" aria-hidden="true">
  										 	<div class="modal-dialog" role="document">
    											<div class="modal-content">
      												<div class="modal-header">
        											<h5 class="modal-title text-dark">Detalle del producto</h5>
        											<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          											<span aria-hidden="true">&times;</span>
        											</button>
      												</div>
      												
      											
      												<div class="modal-footer">
        											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              
											    	</div>
    											   </div>
  											   </div>
										 </div>
                                        </td>
                                        -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>