@charset "ISO-8859-1";

body{
	
 background-image: url('../images/BackgroundBody.jpg');
	color:#fff;
	background-size: cover;
     background-position: center;
     
     animation-delay: 3s;
     @animation-fill-mode:initial;
}


.presentacion{
 
 background-image: url('../images/BackgroundPresentacion.jpg');
	color:#fff;
	background-size: cover;
     background-position: center;
     
}

.cuadritoServicio {
    background-image: url('../images/BackgroundServicio.jpg');
	color:#fff;
	background-size: cover;
     background-position: center;
}


.cuadritoCompra{
	background-image: url('../images/BackgroundCompra.jpg');
	color:#fff;
	background-size: cover;
     background-position: center;
}
.cuadritoRepuesto{
	background-image: url('../images/BackgroundRepuestos.jpg');
	color:#fff;
	background-size: cover;
     background-position: center;
}
.cuadritoCarrito{
		background-image: url('../images/BackgroundCarrito.jpg');
	color:#fff;
	background-size: cover;
     background-position: center;
	
}
aside {
	background:#c0c0c0;
	color:#fff;
}
article {
	background:#c0392b;
	color:#fff;
	
}
.navbar-collapse {
  justify-content: flex-end;
  background:#A6998F;
}
.nav-link{
	color:#fff;
}
.producto {
	background:	#8080ff;
}

.titulo{
	transform:translate(200px,10px);

}

@keyframes mymove {
  from {bottom: 0px;background-color:
#F08080; }
to {
  top: 10px;
}
.subir{
	transform:translate(1000px,10px);
}

